<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.rtl.css">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mochiy+Pop+P+One&family=Montserrat:wght@100&family=Poppins:ital,wght@1,100&family=Roboto+Condensed:wght@300&display=swap');
    </style>

    <!-- <link rel="shortcut icon" href="#"> -->
    <title> Sección de Productos</title>
</head>

<title>La Bodeguita</title>
</head>

<body class="fadein">

    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-light"
        style="background: linear-gradient(to right, #6d1a36, #c26b5f, #6d1a36);">
        <div class="container-fluid">
            <a class="navbar-brand" href="/productos" style="color:azure">La Bodeguita</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/productos" style="color:azure">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" style="color:azure">
                            Categorias
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown"
                            style="background: linear-gradient(to right, #6d1a36, #c26b5f, #6d1a36);">
                            <li><a class="dropdown-item" href="vinos-tintos.ejs">Vino Tinto</a></li>
                            <li><a class="dropdown-item" href="vinos-blancos.ejs">Vino Blanco</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="espumantes.ejs">Espumantes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="caracteristicas.ejs" style="color:azure">Caracteristicas</a>
                    </li>


                    <li class="nav-item">

                        <a class="nav-link" href="/productos/Crear" style="color:azure">Crear Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Register.ejs" style="color:azure">Registrate</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <!-- End navBar -->

    <!-- Slider -->
    <div class="container-slider" style="height: 250px;">
        <div class="slider" id="slider">
            <div class="slider-section">
                <img src="images/klipartz.com.png" alt="" style="height: 250px;" class="slider-img">
                <div class="slider-content">
                    <!-- repetido, remover -->
                    <h2 class="slider-title">Ofertas Imperdibles!!!</h2>
                    <p class="slider-txt">50% off</p>
                </div>
            </div>
            <div class="slider-section">
                <img src="images/Vinos&copas.jpg" alt="" class="slider-img">
                <div class="slider-content">
                    <h2 class="slider-title">Ofertas Imperdibles!!!</h2>
                    <p class="slider-txt">50% off</p>

                </div>
            </div>
            <div class="slider-section">
                <img src="images/cata de vinos.png" alt="" class="slider-img">
                <div class="slider-content">
                    <h2 class="slider-title">Ofertas Imperdibles!!!</h2>
                    <p class="slider-txt">50% off</p>

                </div>

            </div>
            <div class="slider-section">
                <img src="images/vinos.jfif" alt="" class="slider-img">
                <div class="slider-content">
                    <h2 class="slider-title">Ofertas Imperdibles!!!</h2>
                    <p class="slider-txt">50% off</p>

                </div>
            </div>
        </div>
        <div class="slider-btn slider-btn-rigth" id="btn-rigth">&#62;</div>
        <div class="slider-btn slider-btn-left" id="btn-left">&#60;</div>
    </div>

    <!-- Fin Codigo Slider -->
    <hr>
    <h2 class="text-center "><strong>🍷 Productos 🍷</strong></h2>


    <% for( var i=0; i < listado.length; i++ ) { %>
        <div class="">
            <div class="container-body-card">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <img class="card-img-top "
                                src="/uploads/<%= listado[i].categoria %>/<%= listado[i].imagen %>"
                                alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" <% %> >
                                    <%= listado[i].nombre%>
                                </h5>
                                <p class="card-text">
                                    <%= listado[i].categoria %>
                                </p>
                                <p class="card-text">$<%= listado[i].precio %>
                                </p>
                                <p class="card-text">
                                    <%= listado[i].descripcion %>
                                </p>
                                <p class="card-text">
                                    <a class="btn-danger btn" href="<%= '/productos/detalle/' + listado[i]._id %>">
                                        Ver detalle
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

        </div>
        <hr>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!-- Footer -->
        <footer>
            <div class="container-footer">
                <div class="container-footer-detail">
                    <div class="container-footer-title">
                        <h5>Ayuda</h5>
                    </div>
                    <div class="container-help">
                        <div>
                            <a href="preguntas.ejs">Como Comprar</a>
                        </div>
                        <div>
                            <a href="preguntas.ejs">Envíos</a>
                        </div>
                        <div>
                            <a href="acerca.ejs">Nosotros</a>
                        </div>
                        <div>
                            <a href="preguntas.ejs">Preguntas Frecuentes</a>
                        </div>
                        <div>
                            <a href="tyc.ejs">Términos y Condiciones</a>
                        </div>
                    </div>
                </div>
                <div class="container-footer-detail">
                    <div class="container-footer-title">
                        <h5>Contacto</h5>
                    </div>
                    <div class="container-footer-contact">
                        <div>
                            <p>
                                11-9977-4422 (Whatsapp)<br>
                                Lunes a Viernes de 8 a 20hs<br>
                                info@labodeguita.com.ar<br>
                                Oficinas<br>
                                Santiago del Estero 125 CABA<br>
                                Argentina<br>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="container-footer-detail">
                    <div class="container-footer-title">
                        <h5>Compras</h5>
                    </div>
                    <div class="container-help">
                        <div>
                            <a href="vinos-tintos.ejs">Vino Tinto</a>
                        </div>
                        <div>
                            <a href="vinos-blancos.ejs">Vino Blanco</a>
                        </div>
                        <div>
                            <a href="espumantes.ejs">Espumantes</a>
                        </div>

                    </div>
                </div>
                <div class="container-footer-detail">
                    <div class="container-footer-title">
                        <h5>Seguinos</h5>
                    </div>
                    <div class="container-help">
                        <div class="redes-img">
                            <a href="http://www.instagram.com">
                                <img src="images/instagramblack.png" alt="instagram" class="redes-img">
                            </a>

                            <a href="http://www.facebook.com">
                                <img src="images/facebookblack.png" alt="facebook" class="redes-img">
                            </a>
                            <a href="http://www.twitter.com">
                                <img src="images/twitter.png" alt="twitter" class="redes-img">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <script src="bootstrap.min.js"></script>
            <script src="slider.js"></script>

        </footer>



</body>









</html>